.login-auth-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #000;
  background: #485563;
  background: -webkit-linear-gradient(to right, #485563, #29323c);
  background: linear-gradient(to right, #485563, #29323c);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.login-auth-page .login-auth-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.login-auth-page .login-auth-form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.login-auth-page .login-auth-form .form-group {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.login-auth-page .login-auth-form .form-group input {
  border: solid 1px #e7e7e7;
  border-radius: 0.25rem;
  height: 30px;
  padding: 0.25rem 0.5rem;
  font-size: 90%;
  background-color: #fff;
  color: #000;
}

.login-auth-page .login-auth-form label {
  padding-bottom: 0.35rem;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}

.login-auth-page .login-auth-form .form-steps {
  padding: 0.5rem 0;
}

.login-auth-page .login-auth-form .form-steps .link {
  color: var(--color-2);
  font-size: 85%;
  font-weight: 500;
  text-decoration: underline;
}

.login-auth-page .login-auth-form .form-steps .link:hover {
  color: var(--color-1);
}

.login-auth-page .login-auth-form .form-action .login {
  color: var(--color-4);
  margin: 1rem 0;
  background-color: var(--color-1);
}

input.ng-invalid.ng-touched {
  border: solid 2px red !important;
}
